[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "c-ares"]
	path = c-ares
	url = https://github.com/ceph/c-ares.git
[submodule "civetweb"]
	path = civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
